#sponsors {
  // background: linear-gradient(transparent 40%, rgba(242, 153, 74, 0.1) 100%);
  img {
    max-width: 15vw;
    max-height: 15vw;
  }

  img.silver {
    max-width: 25vw;
    max-height: 25vw;
  }

  img.gold {
    max-width: 40vw;
    max-height: 40vw;
  }

  p.sponsor-tier-text {
    margin: 1rem auto;
    font-weight: bold;
    font-size: 2rem;
    color: purple;
  }

  p.thanks {
    color: purple;
    margin: 0 5%;
  }

  p.sponsor {
    color: orangered;
    margin: 0 5%;
  }

  div.sponsor-images {
    margin: 2rem auto;
  }

  div.sponsor-tier:not(:last-child) {
    margin: 0 auto 4rem;
  }

  button.contact {
    margin-top: 5vh;
  }

  .sponsor-coming-soon {
    color: black;
    margin: 25rem auto;
    font-size: 2rem;
    font-weight: bold;
  }
}
